services:
  lp-tatiane-gm:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lp-tatiane-gm
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: "1"
    restart: unless-stopped
